.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="text"],
textarea {
	outline: none;
	border: 1px solid #419BF9;
	-webkit-transition: all .3s;
	transition: all .3s;
}
input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 7px #419BF9;
	border: 1px solid #419BF9;
}
textarea {
    width: 500px;
    font-size: 30px;
}
.input1 input{
    width: 345px;
    font-size: 30px;
}
.input2 input{
    width: 315px;
    font-size: 30px;
}
.input3 input{
    width: 402px;
    font-size: 30px;
}
.input4 input{
    width: 500px;
    font-size: 30px;
    background-color: #419BF9;
    color: #FFFFFF;
}
.input4 input:hover{
    width: 500px;
    font-size: 30px;
    background-color: #419BF9;
    opacity: 0.5;
    color: #FFFFFF;
}
.wrapper{
    margin: 0 auto;
    width: 840px;
}
.left{
    float: left;
}
.ml20{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.top{
    margin-top: 30px;
    margin-bottom: 30px;
}
.top h1{
    font-size: 40px;
    font-weight: 300;
    color: #419BF9;
    text-align: center;
    margin-bottom: 50px;
}
.top h2{
    font-size: 20px;
    font-weight: 300;
    color: #419BF9;
    text-align: center;
    margin-bottom: 20px;
}
.rank{
    margin: 0 auto 80px auto;
    width: 200px;
}
.rank3,.rank2,.rank1{
    float: left;
}
.rank3 img:hover,rank2 img:hover,rank1 img:hover{
    opacity: 0.5;
}

.bookbox{
    width: 400px;
    height: 200px;
    float: left;
    margin: 10px;
    border: 1px #419BF9 solid;
    background-color: #419BF9;
    box-sizing: border-box;
    border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
}
.textbox{
    width: 330px;
    height: 198px;
    background-color: #FFFFFF;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px 0 0 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 110px 0 0 10px;	/* Firefox用 */
}
.textbox h1.title{
    font-size: 20px;
    font-weight: 300;
    color: #419BF9;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.textbox h1.title a{
    font-size: 20px;
    font-weight: 300;
    color: #419BF9;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
}
.textbox h1.title a:hover{
    opacity: 0.5;
}
.commentbox{
    margin-left: 20px;
}
.commentbox h2{
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 10px;
    clear: both;
}
.genre{
    text-align: right;
    margin-left: 350px;
    margin-top: -130px;
    font-size: 25px;
    color: #FFFFFF;
    writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode:vertical-rl;
}

.insert{
    width: 500px;
    margin: 30px auto;
}
.insert p{
    font-size: 30px;
    color: #419BF9;
    margin-bottom: 30px;
}
.back{
    margin: 0 auto;
    width: 840px;
    height: 100px;
    box-sizing: padding-box;
    padding-left: 20px;
}
.back p{
    font-size: 20px;
    color: #419BF9;
    margin-top: 30px;
    margin-bottom: 100px;
}
.back p a{
    font-size: 20px;
    color: #419BF9;
    margin-top: 30px;
    margin-bottom: 100px;
}
.back p a:hover{
    opacity: 0.5;
}
.to{
    margin: 0 auto;
    width: 500px;
    height: 100px;
    box-sizing: padding-box;
}
.to p{
    font-size: 20px;
    color: #419BF9;
    margin-top: 30px;
    margin-bottom: 100px;
}
.to p a{
    font-size: 20px;
    color: #419BF9;
    margin-top: 30px;
    margin-bottom: 100px;
}
.to p a:hover{
    opacity: 0.5;
}

